body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
    
}
#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3{
    font-family: 'Keania One', cursive;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#restartButton{
    border: 2px solid black;
    border-radius: 10px;
}
#restartButton:hover{
    background-color: #cc0000;
}

#scoreboard{
    margin: 0px;
}